 <h1>Please <a href="#modal_login">Login</a> or go to <a href="/events">Events</a></h1>
        <!-- Modal Structure -->
        <div id="modal_login" class="modal">
          <div class="container">

            <form action="/users/login" method="post" id="login">
              <p>Sign In</p>
              <% if flash[:errors] %>
                 <% flash[:errors].each do |error| %>
                <p style="color:red; font-size: 12px;">
                 <%= error %>
            </p>
               <% end %>
             <% end %>
            <br>
              <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" class="input is-primary">
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" name="user[email]" class="validate">
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" name="user[password]" class="validate">
                  <label for="password">Password</label>
                </div>
              </div>
              <input id="signupbutton" type="submit" value="Sign in"><br>
              <a href="http://www.facebook.com" target="_blank">
                <p id="facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i> Sign in with facebook</p>
              </a>
              <a id="tag" href=""> Forgot your password? </a>
              <p>New to EndZone? <span style="color: rgb(66, 103, 178)"> <a href="/users/signup" id="signUpLink">Sign Up</a></span> </p>
            </form>

          </div>



          <br>
        </div>

        <script>
          $(document).ready(function () {
            $('#modal_login').modal('open');
          });
        </script>