<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p style="color:red;"><%= error %></p>
  <% end %>
<% end %>
  <br><br>
<form action="/users" method="post">
<h1>Sign up with EndZone</h1>
<br>
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" class="input is-primary">

<input type="text" name="user[first_name]"  placeholder="First name"><br><hr>

<input type="text" name="user[last_name]" placeholder="Last name"><br><hr>

<input type="text" name="user[address]"  placeholder="Address"><br><hr>

<input type="text" name="user[phone_number]"  placeholder="Phone Number"><br><hr>

<input type="email" name="user[email]"  placeholder="Email"><br>

<hr>

<input type="password" name="user[password]"  placeholder="Password"><br>

<hr>

<input type="password" name="user[password_confirmation]"  placeholder="Confirm Password"><br>

<hr>
<input type="checkbox"> Sign me up for updates
<br><br>
<input type="submit">
</form>
<br>



<form action="/users/login" method="post" id="login">
<h1>Have an account with EndZone? <span style="color:blue"> Sign in </span> </h1>
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" class="input is-primary">
<label>Email</label><br>
<input type="text" name="user[email]"><br><hr>
<label>Password</label><br>
<input type="password" name="user[password]"><br><br>
<input type="submit">
</form>