<%= image_tag  "concert_crowd.jpg", :class => "banner_img" %>

  <div id="searchdiv" class="valign-wrapper">
    <div id="searchbar" >
      <form action="/events/search" id="search">
        <input id="searchInput" type="text" placeholder="Search for events, artists, teams or venues" name="search">
      <i class="fa fa-2x fa-search right" aria-hidden="true"></i>
      </form>
    </div>
  </div>

  <div id="loadingDiv" class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

  <div id="display_events">

  </div>
  <div class="row">
    <h1>Here are some more events not in your area</h1>
    <% @events.each do |event| %>
      <a href="/events/<%= event.id %>">

        <div class="col s12 m3 ">
          <div class="card">
            <div class="card-image">
              <img src="<%= event.venue.img_url %>" alt="" class="image_in_card">
            </div>
            <div class="card-content">
              <p>
                <%= event.title %>
              </p>
            </div>
          </div>
        </div>
      </a>
      <% end %>
  </div>