<div class="container">
<div class="row">
    <h1><%= @category %></h1>
    <% @events.each do |event| %>
      <a href="/events/<%= event.id %>/list">

        <div class="col s12 m4 ">
          <div class="card">
            <div class="card-image">
              <img src="<%= event.venue.img_url %>" alt="" class="image_in_card">
            </div>
            <div class="card-content">
              <p>
                <%= event.title %>
              </p>
            </div>
          </div>
        </div>
      </a>
      <% end %>
  </div>
</div>