/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#display_content {
    display: none;
}
.display_content {
    display: block;
}
  
* {
    font-family: Arial, Helvetica, sans-serif;
}
#facebook{
    background-color: rgb(66, 103, 178);
    color: white;
    width: 250px;
    height: 65px;
    text-align: center;
    padding: 5px;
    margin: 20px;
    display: inline-block;
    align-content: center;
}
#facebooklogo {
    width: 24px;
    height: 24px;
    
}
#signupbutton {
    background-color: #D94185;
    color: white;
    height: 50px;
    width: 250px;
    font-size: 20px;
}
#tag {
    color: rgb(66, 103, 178);
}

