<!DOCTYPE html>
<html>
  <head>
    <title>EndZone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="section content">
    <% if logged_in? %>
      <a href="/users/logout">Log Out</a>
    <% else %>
      <a href="/users/login">Log In</a>
    <% end %>
    <br>
  
    <%= yield %>
    </div>
  </body>
</html>
